/* h4{
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
} */
.flex{
    display: flex;
    justify-content: center;
    gap: 70px;
}
.text{
    padding: 20px;
    font-size: 18px;
}
h4{
    line-height: 30px;
}
.flex img{
       height: 200px;
    width: 300px;
}
.section-two h1{
    padding-top: 120px;
    text-align: center;
    justify-content:center ;
}

.choose{
        display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.five{
   width: 22%;
    height: 180px;
    margin: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: -4s;
    background-color: #f2f2f2;
    font-size: 13px;
    line-height: 30px;
    font-weight: 500;
}

@media (max-width:1024px) {
  
    .text{
    padding: 18px;
    font-size: 16px;
}
.h4{
    line-height: 25px;
}
.five{
    width: 21%;
    height: 150px;
    margin: 13px;
    font-size: 10px;
    line-height: 20px;
}
.section-two h1{
    padding-top: 100px;
}
}
@media (max-width:800px) {
      .flex{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .text{
        padding: 16px;
        font-size: 14px;
    }
    .h4{
        line-height: 22px;
    }
    .five{
    width: 35%;
    height: 190px;
    margin: 11px;
    font-size: 15px;
    line-height: 18px;
}
.choose{
    display: flex;
    flex-direction: column;
}
.section-two h1{
    padding-top: 85px;
}
}
@media (max-width:500px) {
      .flex{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .flex img{
        display: none;
    }
    .text{
        padding: 16px;
        font-size: 14px;
    }
    .h4{
        line-height: 18px;
    }
    .five{
    width: 35%;
    height: 180px;
    margin: 11px;
    font-size: 12px;
    line-height: 16px;
}
.choose{
    display: flex;
    flex-direction: column;
}
.section-two h1{
    padding-top: 65px;
}
}