.navbar{
    display: flex;
    justify-content:space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    background-color: antiquewhite;
    align-items: center;
}
.logo{
padding-top: 12px;
    font-size: 38px;
    font-weight: 600;
    color: #171717;
    /* outline: none; */
    text-decoration: none;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 17px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: red;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
    /* margin-top: 30px; */
}
.nav-login-cart button{
    width: 155px;
    height: 45px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background-color: antiquewhite;
    cursor: pointer;
}
.nav-login-cart img{
     height: 22px;
     width: 22px;
}
.nav-login-cart button:active{
    background-color: #3f3f3f;

} 
.nav-dropdown{
    display: none;
}

@media(max-width:1280px){
    .navbar{
        padding: 12px 50px;
    }
     .logo{
        font-size: 35px;
    }
    .nav-menu{
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 30px;
    }
    .nav-login-cart button{
        width: 100px;
        height: 36px;
        font-size: 16px;
    }
}
@media(max-width:1024px) {
    .navbar{
        padding: 12px 30px;
    }
    .nav-menu{
        gap: 25px;
        font-size: 14px;
    }
    .nav-login-cart button{
        width: 80px;
        height: 27px;
    }
}
@media(max-width:800px) {
     .navbar{
        padding: 10px 0px;
     }
     .nav-dropdown{
     display: block;
     width: 30px;
     rotate: -90deg;
     transition:0.5s ;
     }
     .nav-menu{
        display: none;
        height: 80px;
        width: 100%;
        position:absolute;
        background: white;
        justify-content: center;
        top: 50px;
     }
     .nav-menu-visible{
        display: flex;
     }
     .nav-dropdown.open{
        transform: rotate(90);
     }
}
@media(max-width:500px){
    .navbar{
        width: 8px 0px;
        gap: 0;
    }
    .logo{
        transform: scale(0.8);
    }
    .nav-menu{
        height: 70px;
        top: 50px;
    }
    .nav-login-cart{
        transform: scale(0.8);
    }
}