.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}
.popular-cars{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    margin-top: 30px;
    gap: 50px;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}
@media (max-width:800px) {
    .popular h1{
        font-size: 30px;
    }
    .popular hr{
        width: 150px;
        height: 5px;
        border-radius: 8px;
    }
}
@media (max-width:500px) {
    .popular h1{
        font-size: 20px;
    }
      .popular hr{
        width: 120px;
        height: 5px;
        border-radius: 4px;
    }
}