.Productdisplay{
    display: flex;
    margin: 0px 40px;
}
.productdisplay-left{
    display: flex;
    gap: 18px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay-img-list img{
    height: 80px;
}
.productdisplay-main-img{
    width: 420px;
    height: 350px;
}
.productdisplay-right{
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 700px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: #ff4141;
}
.productdisplay-right-color h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productdisplay-right-colors{
    display: flex;
    margin: 20px 0px;
    gap: 15px;
}
.productdisplay-right-colors div{
    padding:18px 20px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 400px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* @media (max-width:1280px) {
   .productdisplay-left{
    gap: 10px;
   }
   .Productdisplay{
    margin: 0px 60px;
   }
    .productdisplay-img-list{
        gap: 10px;
    }
   .productdisplay-img-list img{
    height: 100px;
   }
   .productdisplay-main-img{
    width: auto;
    height: 400px;
   }
   .productdisplay-right{
    margin: 0px 30px;
   }
   .productdisplay-right h1{
    font-size: 22px;
   }
   .productdisplay-right-prices{
    margin: 10px 0px;
    font-size: 18px;
   }
   .productdisplay-right-description{
    font-size: 14px;
   }
   .productdisplay-right button{
      width: 150px;
      padding: 15px 0px;
      margin-bottom: 20px;
   }
   .productdisplay-right-color h1{
    margin-top: 20px;
    font-size: 20px;
   }
   .productdisplay-right-colors div{
    padding: 14px 20px;
   }
} */

@media (max-width:1024px) {
   .productdisplay-left{
    gap: 5px;
   }
   .Productdisplay{
    margin: 0px 30px;
   }
   .productdisplay-img-list img{
    height: 80px;
   }
   .productdisplay-main-img{
    height: 300px;
   }
   .productdisplay-right{
    margin: 0px 20px;
   }
   .productdisplay-right h1{
    font-size: 18px;
   }

   .productdisplay-right-description{
    font-size: 12px;
   }
   .productdisplay-right button{
      width: 120px;
      padding: 10px 0px;
      margin-bottom: 10px;
      font-size: 14px;
   }
 .productdisplay-right-colors{
    margin-top: 10px 0px;
 }
   .productdisplay-right-colors div{
    padding: 10px 16px;
    font-size: 12px;
   }
}

@media (max-width:800px) {
   .productdisplay-left{
    gap: 0px;
    flex-direction: column-reverse;
    align-items: center;
   }
    .productdisplay-img-list{
        flex-direction: row;
        gap: 6px;
    }
   .Productdisplay{
    margin: 0px 10px;
   }
   .productdisplay-img-list img{
    height: 70px;
   }
   .productdisplay-main-img{
    height: 250px;
   }
   .productdisplay-right{
    margin: 0px 20px;
   }
   .productdisplay-right h1{
    font-size: 14px;
   }
 .productdisplay-right-color h1{
    margin-top: 10px 0px;
 }
   .productdisplay-right-description{
    font-size: 12px;
   }
   .productdisplay-right button{
      width: 100px;
      font-size: 12px;
   }
 .productdisplay-right-colors{
    margin-top: 10px;
    gap: 5px;
 }
   .productdisplay-right-colors div{
    padding: 4px 11px;
   }
}

@media (max-width:500px) {
    .Productdisplay{
        flex-direction: column;
    }
    .productdisplay-left{
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }
    .productdisplay-img-list{
        flex-direction: column;
        gap: 8px;
    }
    .productdisplay-img-list img{
        height: 65px;
    }
    .productdisplay-main-img{
        height: 280px;
    }
    .productdisplay-right{
        margin: 5px;
    }
    .productdisplay-right h1{
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }
    .productdisplay-right-colors{
        gap: 10px;
        margin: 20px 0px;
    }
     .productdisplay-right-colors div{
        padding: 10px 16px;
        font-size: 14px;
     }
     .productdisplay-right button{
        width: 130px;
        font-size: 15px;
        padding: 12px 0px;
     }
}